.fl-input-container {
  display: flex;
  position: relative;
  margin-top: 8px;
  width: 100%;
  min-width: 240px;
}

.fl-input {
  display: block;
  width: 100%;
  appearance: none;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 16px;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #d1d5db; /* Default grey border */
}

.fl-input:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.fl-input:disabled {
  cursor: not-allowed;
}

.fl-input-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.label {
  position: absolute;
  top: 0.5rem; /* top-2 in Tailwind */
  left: 0.25rem; /* left-1 in Tailwind */
  z-index: 10;
  transform-origin: 0 0;
  transform: translateY(-1rem) scale(0.75);
  cursor: text;
  user-select: none;
  background-color: white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.875rem; /* text-sm in Tailwind */
  color: #6b7280; /* text-gray-500 in Tailwind */
  transition: all 0.3s ease; /* duration-300 in Tailwind */
}

.peer {
  position: relative;
  z-index: 1;
}

/* Placeholder-shown state */
.peer:placeholder-shown + .label {
  top: 50%;
  transform: translateY(-50%) scale(1);
}

/* Focus state */
.peer:focus + .label {
  top: 0.5rem;
  transform: translateY(-1rem) scale(0.75);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* color: #2563eb; removind default focus label */
}

.icon {
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 12px;
  z-index: 2;
}

.icon.end {
  right: 0px;
}

/* Rounded */

.fl-input.radius-none {
  border-radius: 0px;
}
.fl-input.radius-sm {
  border-radius: 4px;
}
.fl-input.radius-md {
  border-radius: 8px;
}
.fl-input.radius-lg {
  border-radius: 12px;
}

/* Variant styles */
.fl-input.fl-input-primary {
  border: 1px solid #d1d5db;
}
.fl-input-primary:focus {
  border: 1px solid #1ea7fd;
}

.fl-input.fl-input-secondary {
  border: 1px solid #d1d5db;
}
.fl-input-secondary:focus {
  border: 1px solid #c0119a;
}

.fl-input.fl-input-success {
  border: 1px solid #d1d5db;
}
.fl-input-success:focus {
  border: 1px solid #20c933;
}

.fl-input.fl-input-danger {
  border: 1px solid #dc3545;
}
.fl-input-danger:focus {
  border: 1px solid #dc3545;
}

/* Label focus */
.peer:focus + .label-primary {
  color: #1ea7fd;
}
.peer:focus + .label-secondary {
  color: #c0119a;
}
.peer:focus + .label-success {
  color: #20c933;
}
.peer:focus + .label-danger {
  color: #dc3545;
}
.peer + .label-danger {
  color: #dc3545;
}
